
.my{
    color: #6F42C199; 
}
.front{
    background-color: #F0ECF9;
}
.back{
    background-color: #F0ECF9;
    border-radius: 0px 0px 50px 0px;
   
}
.button{
    color: #FFFFFF;
    background-color: #6F42C1;
    border-radius: 25.8px;

}
.text-center{
    color: #6F42C1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clon{
    color:#808081 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.one{
    color: black;
}
.two{
    color: black;
}
.three{
    color: black;
}
.four{
     color: #808081;
}
.five{
    color: #808081;
}
.six{
    color: #808081;
}
.cool{
     color: #6F42C1;

}
.text{
    color: #989898;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
      color: white;
      background-color: #6F42C1;
      border-radius: 20px;
}
.lo{
    color: #6F42C1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.done{
    color: #6F42C1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.s{
    color: #808081;
}
.j{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.q{
    color: #808081;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.y{
    background-color: #F0ECF9;
}
.hh{
    list-style: none;
}
.t{
    color: #808081;
}
.d{
    background-color: #F8F5FC;
}
.u{
    color: #6F42C1;
}
.k{
    color: #808081;
}
.say{
    color: #6F42C1;
}
.liv{
    color: #808081;
}
.k{
    color: black;
}
.j{
    color: #808081;
}
.f{
    color: #6F42C1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.r{
    background-color: #F8F5FC;
}
